body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff9999;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

nav {
    background-color: #99ff99;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

article {
    background-color: #9999ff;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

section {
    background-color: #ffff99;
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

aside {
    background-color: #ffcc99;
    height: 60%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

footer {
    background-color: #cc99ff;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}