body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border: 2px solid #333;
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
}

.square1 {
    background-color: red;
    color: white;
}

.square2 {
    background-color: green;
    color: white;
}

.square3 {
    background-color: blue;
    color: white;
}